@model Models.ClientViewModel
@{
    ViewBag.Title = "Client Details";
}

<h2>View Clients</h2>

<div class="grid">
    @for (int i = 0; i < Model.Clients.Count; i++)
    {
        var item = Model.Clients[i];

        <img src="@item.Photo" height="60" width="60" />

        <div>
            @item.FirstName
            @item.LastName
        </div>
        <div>
            <a href="/Client/CreateClient/@item.Id">Edit Client</a>
            <a href="/Client/DeleteClient/@item.Id">/Delete</a>
        </div>
    }

    
        @Html.ActionLink("Back", "Index", "Home")
    
</div>